<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

  <display-name>spring-mvc-app</display-name>

  <absolute-ordering />

  <!--Dispatcher Servlet-->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <!--класс, который используется для создания Dispatcher Servlet-->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--путь до конфигурации приложения-->
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContextMVC.xml</param-value>
    </init-param>
    <!--параметр, который указывает, что Dispatcher Servlet нужно загружать в первую очередь-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <!--любой url должен перенаправляться сервером на Dispatcher Servlet-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
